
:root
{
    --bgcolor:#fb7109;
    --text:#fff;
    --bordercol:#4189d1;
    --activitemicon:#02577AFF;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins' sans-serif;
    font-size: 16px;
    height: 100vh;
    background: var(--text);
    background-size: cover;

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--text);

}
h1{
    color: var(--text);
}
h2{
    color: var(--text);
    margin: 16px 0 5px 5px;
    padding: 0 15px 0 15px;
    font-weight: 800;
}s
h3{
    margin: 8px 0;
    font-weight: 800;

    color: var(--text);
}
p{
    margin: 16px 0;
    line-height: 1.75;
    font-weight: 400;
    padding: 0 15px 0 15px;
    color: var(--text);
}
img{
    max-width: 100%;
    height: auto;
    margin: 15px 0;
    
}
header{
    line-height: 100px;
    background-color: var(--bgcolor);

    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;

}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;

}
li{
    padding: 0 16px;
    font-weight: 500;
    letter-spacing: 0.4px;

    
}
nav ul li span{
    color: var(--text);

}
.gridcontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 13% auto 15%;
    height: 100vh;
    width: 70%;
    margin: 0 auto;
}
header{
    grid-column-start: span 3;
    background-color: #708090e0;
}
aside{
    grid-column-start: span 1;
    background: url(../img/photo.avif) no-repeat;
    background-size: cover;
    padding:80px 0 0 30px;  
    }
main{ 
    grid-column-start: span 2; 
    background-color: #7080903b;   
}

footer{
    grid-column-start: span 3;
    background-color: #3f5468;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align: top;
    font-size: 1rem;
    padding: 1rem 0;

}
footer p{
    justify-content: center;  
    
}

.line{
    width: 50%;
    margin: 1rem auto;
    color:  var(--activitemicon);
    }


@media (max-width:768px){
    .gridcontainer{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 100px;
    width: 100%;    
    }
    aside,main,footer{
    grid-column-start: span 1;   
    }
    header{
    grid-column-start: span 1; 
    line-height: 30px;  
    }
    nav{
    flex-direction: column; 
    width: 100%;   
    }
    nav ul{
    
    flex-direction: column;
     width:  100%;
     
     text-align: center;
     

    }
    nav ul li{
        
    }
    aside{
        padding: 2rem;
    }
    span{
        /* font-size: 26px; */
    }
    a,p{
        font-size: 20px;
    }
    h2{
        /* font-size: 26px;   */
    }

    }