
:root
{
    --bgcolor:steelblue;
    --column:;
    --text:#fff;
    --btn:;
    --textbtn:;
    --bordercol:skyblue;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins' sans-serif;
    font-size: 16px;
    height: 100vh;
    background: url(./img/photo.avif);
    background-size: cover;

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--text);

}
h1{
    color: var(--text);
    margin: 16px 0;
    font-weight: 800;
}
h3{
    margin: 8px 0;
    font-weight: 800;
    /* color: var(--text); */
}
p{
    margin: 16px 0;
    line-height: 1.75;
    font-weight: 400;
    /* color: var(--text); */
}
img{
    max-width: 100%;
    height: auto;
    margin: 15px 0 20px 0;
    
}
header{
    line-height: 100px;
   

    
}
nav{
display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    background-color: var();
    margin-left: auto;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav ul li{
    display: inline;
    padding: 0 16px;
}
nav ul li span{
color: var(--text);
}
.gridcontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 20% auto 15%;
    height: 100vh;
    width: 70%;
    margin: 0 auto;
}
header{
grid-column-start: span 3;

}
aside{
grid-column-start: span 1;
    
    }
main{ 
grid-column-start: span 2;    
}

footer{
grid-column-start: span 3;
}
